/* Atributos de estructura */

#titulo-planes {
  margin: 0;
  margin-top: 14vw;
}

#parrafo-necesidades,
#parrafo-usuarios {
  width: 50%;
  margin-inline: 2vw;
  padding: 1.5vw;
}



.motivos-suscripcion {
  display: flex;
  justify-content: space-between;
}

#icono-personas {
  margin-left: 12vw;
  width: 15%;
}

#icono-manos {
  width: 15%;
  margin-right: 12vw;
}



#planes-disponibles {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

#titulo-planes-disponibles{
  margin-block: 1vw;
}

.planes {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3vw;
  margin-inline: 1.8vw;
}

span,
button {
  padding: 1vw;
  width: 25%;
}

button {
  width: 50%;
  transform: translate(50%, 0%);
}

/* Atributos de estilo */

#titulo-planes {
  color: var(--colorPrincipal);
  font-size: 4.5vw;
  text-align: center;
}

#parrafo-necesidades,
#parrafo-usuarios {
  font-size: 3vw;
  font-weight: 300;
  text-align: justify;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1vw;
}

#icono-manos {
  fill: var(--colorTriadicoPrimero);
  stroke: black;
  stroke-width: 5px;
}

#icono-personas {
  fill: var(--colorTriadicoPrimero);
  stroke: black;
  stroke-width: 5px;
}

#titulo-planes-disponibles{
  color: var(--colorPrincipal);
  font-size: 5.5vw;
  text-align: center;
}

.planes {
  border-style: solid;
  border-width: 1px;
  border-radius: 1vw;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.planes p,
.planes ul {
  text-align: justify;
  font-size: 3vw;
  font-weight: 400;
}

span,
button {
  background-color: var(--colorTriadicoPrimero);
  border-color: var(--colorTriadicoPrimero);
  color: var(--colorBlanco);
  border-style: solid;
  border-width: 1px;
  border-radius: 5vw;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
}