#formRegistro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  flex-wrap: wrap;
  gap: 10px;
  padding: 1vw;
  margin-top: 5vw;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
  grid-column: span 3;
}

#perfil input,
#contactoSeguridad input {
  font-size: 2.2vw;
}

/* INPUT CONTRASENA */

/* SVG */
label[for="contrasena"] svg {
  border-style: solid;
  border-width: 0.13vw;
  border-radius: 0.5vw;
  padding-inline: 0.3vw;
  padding-block: 0.1vw;
  width: 1.6%;
  height: auto;
  color: var(--colorTriadicoPrimero);
  fill: var(--colorTriadicoPrimero);
}

/* SPAN */

#contrasenaSpan{
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  height: 7vw;
  border-radius: 1vw;
  position: absolute;
  z-index: 2;
  transform: translate(15%, -150%);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1vw;
}

#contrasenaSpan p{
  font-size: 2.5vw;
  font-weight: 800;
  color: var(--colorTriadicoPrimero);
  text-align: center;
  margin: 0;
}

#contrasenaSpan::before {
  content: "";
  position: absolute;
  top: 9vw;
  left: 4%;
  rotate: 50%;
  border: 16px solid transparent;
  border-bottom: 16px solid #ccc;
  transform: translateX(50%);
  transform: rotate(180deg);
}



/* ======================== */


fieldset input {
  padding: 1vw;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vw;
}

legend {
  font-size: 3.5vw;
}

label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 3vw;
}

h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  font-size: 5vw;
  margin: 0;
  margin-top: 3vw;
}

#datosComplementariosSuperior {
  display: flex;
  flex-direction: column;
}

#datosComplementariosSuperior input {
  margin: 0;
  width: 2.5vw;
  height: 2.5vw;
}

.divRadio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vw;
  width: 75%;
}

#datosComplementariosInferior {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  
}

#datosComplementariosInferior label {
  font-size: 3vw;
}

#seleccionarPais,
#fechaNacimiento {
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  width: 35vw;
  padding: 1vw;
}

#labelTerminosCondiciones {
  font-size: 2.5vw;
  text-align: center;
  transform: translateX(32vw);
}

#inputTerminosCondiciones {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

#botonSubmit {
  grid-column: 1 / -1;
  padding: 1vw;
  border: none;
  border-radius: 5px;
  background-color: var(--colorPrincipal);
  color: #fff;
  font-size: 4vw;
  cursor: pointer;
  width: 50%;
  transform: translateX(23vw);
}

#formRegistro span:last-child {
  width: 50vw;
  transform: translateX(22vw);
  font-size: 3vw;
  text-align: center;
}

@media (max-width: 390px) {
  #formRegistro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5vw, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 15vw;
  }

  #seleccionarPais,
  #fechaNacimiento {
    width: 30vw;
  }
}
