@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

:root {
  --colorPrincipal: #21295c;
  --colorBlanco: #fff;
  --gradiente: linear-gradient(
    86deg,
    rgba(248, 132, 91, 1) 0%,
    rgba(249, 167, 93, 1) 85%
  );
}

/* MOBILE FIRST */

#inicioSuperior h2 {
  margin-top: 17vw;

  color: var(--colorPrincipal);
  font-size: 4vw;
  text-align: center;
  padding-bottom: 3vw;
}

#inicioInferior h2 {
  color: var(--colorPrincipal);
  font-size: 4vw;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

#navInferiorParrafo,
#inicioInferior p {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1vw;

  padding: 3vw;
  margin: 5vw;
  margin-top: 0;

  font-size: 2vw;
  text-align: center;
}

.navImagen picture {
  display: flex;
  justify-content: center;
}

.navImagen img {
  width: 60%;
}

.descripcionPrincipalImagen picture {
  display: flex;
  justify-content: center;
}

.descripcionPrincipalImagen img {
  width: 60%;
}

/* SECCION PANEL DE INFORMACION */

#panelInformacion h2 {
  color: var(--colorPrincipal);
  font-size: 4vw;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

#panelInformacionBotones {
  display: flex;
  justify-content: space-evenly;
}

.panelInformacionBoton {
  background-color: var(--colorPrincipal);
  width: 30vw;

  padding: 0.5vw;
  border-style: none;
  border-radius: 3vw;
  color: white;
  font-size: 0.65rem;
  font-weight: 400;
}

#botonesNacionales,
#botonesInternacionales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-gap: 5px;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
}

.botonNacional,
.botonInternacional {
  height: 15vw;
  margin-top: 2vw;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 3vw;
  font-size: 2.1vw;
  font-weight: 300;
}

@media (max-width: 380px) {
  .panelInformacionBoton {
    font-size: 3vw;
    font-weight: 400;
  }

  .botonNacional,
  .botonInternacional {
    height: 17vw;
    margin-top: 0.5vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .panelInformacionBoton {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .botonNacional,
  .botonInternacional {
    height: 11.5vw;
    margin-top: 0.5vw;
    font-size: 1.8vw;
  }
}

@media (min-width: 769px) {
  #inicioSuperior h2 {
    margin-top: 13vw;
    font-size: 3vw;
    padding-bottom: 0;
  }

  #inicioInferior h2 {
    font-size: 3vw;
    padding-bottom: 0;
  }

  #navInferiorParrafo,
  #inicioInferior p {
    font-size: 1.4vw;
  }

  #panelInformacion h2 {
    font-size: 3vw;
  }

  #panelInformacionBotones {
    margin-bottom: 2vw;
  }

  .panelInformacionBoton {
    width: 15vw;
    font-size: 1.2vw;
    font-weight: 500;
  }

  .botonNacional {
    font-size: 1vw;
    height: 4vw;
  }
  
  .botonInternacional{
    font-size: 1.3vw;
    height: 4vw;
  }
}


