@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal: #21295c;
  --colorBlanco: #fff;
  --gradiente: linear-gradient(
    86deg,
    rgba(248, 132, 91, 1) 0%,
    rgba(249, 167, 93, 1) 85%
  );
}

@media (max-width: 768px) {
  /* NAVBAR SUPERIOR */

  .navSuperior {
    display: flex;
    background: var(--colorPrincipal);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #iconoBarras {
    display: flex;
    width: 6vw;
    fill: var(--colorBlanco);
    margin-left: 4vw;
  }

  .navSuperior h1 {
    color: var(--colorBlanco);
    font-size: 6.5vw;
    font-weight: 600;
    margin-top: 2vw;
    margin-bottom: 1vw;
    margin-left: 30vw;
    line-height: 6.5vw;
  }

  ul {
    display: none;
  }

  /* NAVBAR INFERIOR */

  .navInferior {
    background-color: var(--colorBlanco);
    padding-top: 14vw;
    gap: 7vw;
  }

  #iconoInformacion {
    width: 5vw;
    fill: var(--colorPrincipal);
    padding-left: 4.5vw;
  }

  .navInferior h2 {
    color: var(--colorPrincipal);
    font-size: 5vw;
    text-align: center;
    padding-bottom: 2vw;
  }

  #navInferiorParrafo {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1vw;

    padding: 3vw;
    margin: 5vw;
    margin-top: 0;

    font-size: 3.5vw;
    text-align: center;
  }

  .navImagen{
    display: flex;
    justify-content: center;
  }

  .navImagen img{
    width: 60%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  /* NAVBAR SUPERIOR */

  #iconoBarras {
    display: none;
  }

  .navSuperior {
    display: flex;
    background: var(--colorPrincipal);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navSuperior h1 {
    color: var(--colorBlanco);
    font-size: 6vw;
    font-weight: 600;
    margin-top: 2vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    line-height: 6.5vw;
  }

  ul{
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: var(--colorBlanco);
    gap: 5vw;
  }

  /* NAVBAR INFERIOR */

  .navInferior {
    background-color: var(--colorBlanco);
    padding-top: 14vw;
    gap: 7vw;
  }

  #iconoInformacion {
    width: 5vw;
    fill: var(--colorPrincipal);
    padding-left: 4.5vw;
  }

  .navInferior h2 {
    color: var(--colorPrincipal);
    font-size: 5vw;
    text-align: center;
    padding-bottom: 2vw;
  }

  #navInferiorParrafo {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1vw;

    padding: 3vw;
    margin: 5vw;
    margin-top: 0;

    font-size: 3.5vw;
    text-align: center;
  }

  .navImagen{
    display: flex;
    justify-content: center;
  }

  .navImagen img{
    width: 60%;
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {
}

/* Nav */

 
/* Main */

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
