@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/* Informacion introductoria */

#informacion-introductoria {
  background-color: #e2e4ea;
  box-shadow: inset 0 0px 10px -10px #b7bccd;
  padding-bottom: 1vw;
  /* Debido a navbar position:fixed, es necesario darle margin-top a #inicioSuperior */
  margin-top: 7vw;
  padding-top: 2vw;
}

.titulos-incentivo {
  color: var(--colorPrincipal);
  font-size: 4.5vw;
  text-align: center;
  margin: 0;
  margin-block: 2vw;
}

.parrafos-informativos {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1vw;

  padding: 2vw;
  margin-inline: 4.5vw;
  margin-block: 4vw;

  font-size: 2.6vw;
  font-weight: 300;

  text-align: justify;
}

#informacion-introductoria-iconos .parrafos-informativos {
  width: 50%;
}

strong {
  color: var(--colorTriadicoPrimero);
  font-weight: 600;
}

#informacion-introductoria-iconos {
  display: flex;
}

picture {
  width: 50%;
}

picture img {
  width: 45%;
}

/* SECCION PANEL DE INFORMACION */

.titulos-de-consultas {
  font-size: 4vw;
  font-weight: 800;
  text-align: center;
  margin-block: 5vw;
}

#panel-botones {
  display: flex;
  justify-content: space-evenly;
}

#indices-nacionales,
#indices-internacionales,
#consultar-indice {
  background-color: var(--colorTriadicoPrimero);
  width: 30vw;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1vw;
  border-style: none;
  border-radius: 3vw;
  color: white;
  font-size: 2.5vw;
  font-weight: 500;
}

#botones-nacionales,
#botones-internacionales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-gap: 1vw;
  margin-inline: 5vw;
  margin-block: 3vw;
}

.boton-indice {
  height: 8vw;
  margin-top: 2vw;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 3vw;
  font-size: 2vw;
  font-weight: 300;
}

#despliegue-respuesta{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 380px) {
  #panel-botones {
    font-size: 3vw;
    font-weight: 400;
  }

  .boton-indice {
    height: 17vw;
    margin-top: 0.5vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .panel-botones {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .boton-indice {
    height: 11.5vw;
    margin-top: 0.5vw;
    font-size: 1.8vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #informacion-introductoria h2 {
    margin-top: 5vw;
    padding-bottom: 0;
  }

  #panel-botones {
    margin-bottom: 2vw;
  }

  .boton-indice {
    font-size: 1vw;
    height: 4vw;
  }
}