form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 1vw;
  margin-top: 5vw;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
}

#perfil input,
#contacto-seguridad input {
  font-size: 2.2vw;
}

fieldset input {
  padding: 1vw;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vw;
}

legend {
  font-size: 3.5vw;
}

label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 3vw;
}

h2 {
  text-align: center;
  font-size: 5vw;
  margin: 0;
  margin-top: 3vw;
}

#genero {
  display: flex;
  flex-direction: column;
}

#genero input {
  margin: 0;
  width: 2.5vw;
  height: 2.5vw;
}

.div-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vw;
  width: 75%;
}

#nacimiento-pais {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  
}

#nacimiento-pais label {
  font-size: 3vw;
}

#seleccionar-pais,
#fecha-nacimiento {
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  width: 35vw;
  padding: 1vw;
}

#label-terminos-condiciones {
  font-size: 2.5vw;
  text-align: center;

}

#input-terminos-condiciones {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

#boton-submit-registro {
  padding: 1vw;
  border: none;
  border-radius: 5px;
  background-color: var(--colorPrincipal);
  color: #fff;
  font-size: 4vw;
  cursor: pointer;
  width: 50%;
}

p {
  display: block;
  font-size: 3vw;
  text-align: center;
}

span{
  display: block;
  text-align: center;
  font-size: 2.25vw;
  font-weight: 500;
  margin-bottom: 2vw;
}

@media (max-width: 390px) {
  form {
    gap: 20px;
    padding: 1vw;
    margin-top: 15vw;
  }

}
